*{
    background-color: antiquewhite;
}
.mainbox{
   margin: 0;
   
}
.mainbox .box{
   transform: translate(500px,160px);
}
.onebox{
    height: 300px;
    width: 350px;
    background-color:green;
    transform: translate(568px,-147px);
}
.onebox .twobox{
    height: 200px;
    width: 350px;
    background-color:red;
}